<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.jobs.dao.CompanyMapper">
    <insert id="addCompany" parameterType="com.jie.jobs.domain.Company">
        INSERT INTO COMPANY(COMID,COMNO,COMNAME,COMADDR,COMADDRCODE,
                            COMCONTACKS,COMCONTACKSTEL,COMSIZE,COMTYPE,COMSTATUS,
                            COMINFO)
                    VALUES(S_COM.NEXTVAL,#{comid},#{comno},#{comname},#{comaddr},
                            #{comaddrcode},#{comcontacks},#{comcontackstel},#{comsize},#{comtype},
                            '1',#{cominfo})
          <selectKey keyProperty="comid" order="AFTER" resultType="Integer">
                SELECT S_COM.CURRVAL FROM DUAL
          </selectKey>
    </insert>
</mapper>